# Project exclude paths
/target/
/src/main/java/com/demo/inheritance/
/src/main/java/com/demo/lets_try_to_find_out_why_we_need_additional_constructor/
/src/main/java/com/demo/pattern_matching/
/src/main/java/com/demo/reflections/
/src/main/java/com/demo/traits/
/src/main/java/com/generic/
